@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.card-login {
  width: 420px;
  height: auto;
  border: 1px solid #bdbdbd;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: auto;
  padding: 48px;
}

.login-header h6 {
  margin-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
  color: #333333;
}

.login-header p {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.035em;
  color: #333333;
}

.footer {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #828282;
}

.footer a {
  color: #828282;
}

.card-login form {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.form-controller {
  margin-bottom: 15px;
  position: relative;
}

.form-controller span {
  position: absolute;
  top: 14px;
  left: 12px;
  color: #828282;
  font-size: 20px;
}

.form-controller .form-input {
  padding-left: 40px;
  width: 100%;
  height: 48px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
}

.form-controller .form-input-error {
  padding-left: 40px;
  width: 100%;
  height: 48px;
  border: 1px solid #bc3e3e;
  color: #bc3e3e;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
}

.form-controller .form-input-error::placeholder {
  color: #bc3e3e;
}

.form-controller .error-text {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #bc3e3e;
}

.error-icon {
  color: #bc3e3e !important;
}

.form-submit {
  background: #2f80ed;
  color: #fff;
  height: 38px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
  outline: none;
}

.spinner {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  border-top-color: #2f80ed;
  animation: 0.7s spin ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.form-submit:hover {
  background-color: #206bce;
}

.login-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #828282;
}

.login-footer .social-login {
  flex-direction: row;
  margin: 20px 0px;
}

.login-footer .social-login img {
  margin: 5px 10px;
  justify-self: center;
}

/* Profile Page */

.title {
  text-align: center;
  margin-top: 60px;
}

.title h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #000000;
}

.title p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin-top: 8px;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #000000;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  margin: 0px 10px;
}

.user-info {
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.user-info .popup {
  display: none;
  position: absolute;
  width: 180px;
  height: auto;
  top: 50px;
  border: 1px solid #e0e0e0;
  padding: 14px;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.user-info .popup-open {
  display: block;
  position: absolute;
  width: 180px;
  height: auto;
  top: 50px;
  border: 1px solid #e0e0e0;
  padding: 14px;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  transition: display 1s ease-in-out;
}

.popup-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 16px 10px 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.035em;
  margin: 5px;
  cursor: pointer;

  /* Gray 2 */

  color: #4f4f4f;
}

.active {
  background: #f2f2f2;
  border-radius: 8px;
  margin-bottom: 10px;
}

.logout {
  color: #bc3e3e;
}

.popup-item span {
  font-size: 16px;
  margin-right: 10px;
}

.user-info img {
  width: 32px;
}

.user-info p {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.035em;

  /* Gray 1 */

  color: #333333;
  margin-left: 12px;
}

.card-profile {
  width: 800px;
  height: auto;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 70px;
  padding: 20px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-header .profile-title h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #000000;
}

.profile-header .profile-title p {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.035em;

  color: #828282;
}

.profile-header .action button {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #828282;
  padding: 8px 32px;
  cursor: pointer;
  outline: none;
}

.profile-header .action button:hover {
  background-color: #dddddd;
}

.profile-footer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #828282;
}

.profile-footer a {
  color: #828282;
}

.profile-body {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-body .body-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 24px 0px;
}

.body-row .body-title {
  width: 300px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #bdbdbd;
}

.body-row .body-content img {
  border-radius: 8px;
  width: 72px;
}

.body-row .body-content h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #333333;
}

.bio {
  width: 400px;
  word-wrap: break-word;
}

.form-title {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #2d9cdb;
}

.form-title a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.save-button {
  background: #2f80ed;
  border-radius: 8px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #ffffff;
}

.save-button:hover {
  background-color: #206bce;
}

.profile-img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-img img {
  width: 72px;
}

.profile-img .upload-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 50px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #828282;
}

.form-control {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #4f4f4f;
  margin-bottom: 4px;
}

.form-control .label-error {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: -0.035em;

  color: #bc3e3e;
  margin-bottom: 4px;
}

.form-control .profile-input {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 17px;
  width: 400px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: -0.035em;
  outline: none;
}

.form-control .profile-input-error {
  border: 1px solid #bc3e3e;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 17px;
  width: 400px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: -0.035em;
  outline: none;
}

.form-control .profile-input-error::placeholder {
  color: #bc3e3e;
}

.form-control .error-text {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: -0.035em;
  color: #bc3e3e;
}

.form-control .profile-text-input {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 17px;
  width: 400px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  resize: none;
  height: 100px;
  letter-spacing: -0.035em;
  outline: none;
}

.form-control .profile-text-input-error {
  border: 1px solid #bc3e3e;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 17px;
  width: 400px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  resize: none;
  height: 100px;
  letter-spacing: -0.035em;
}

.form-control .profile-text-input-error::placeholder {
  color: #bc3e3e;
}

.form-control .profile-input:focus {
  border: 1px solid #333333;
  border-radius: 12px;
  transition: color 0.1s ease-in-out;
}

.form-control .profile-text-input:focus {
  border: 1px solid #333333;
  border-radius: 12px;
  transition: color 0.1s ease-in-out;
}

@media screen and (max-width: 900px) {
  .user-info p {
    display: none;
  }

  .user-info span {
    display: none;
  }

  .card-profile {
    width: 400px;
    margin-top: 40px;
    padding: 10px;
  }
  .profile-footer {
    width: 400px;
    margin-bottom: 2%;
  }

  .profile-body .body-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .body-row .body-title {
    width: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: -0.035em;

    color: #bdbdbd;
  }

  .bio {
    width: 200px;
    word-wrap: break-word;
  }

  .form-title a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
  }

  .form-control input {
    width: 100%;
  }

  .form-control textarea {
    width: 100%;
  }
}

.github {
  border: none;
  outline: none;
  background-color: transparent;
}

.twitter {
  width: 72px;
}
